body {


    margin: 0;
    padding: 0;
    height: 100vh; /* Katssad 100% mn hauteur dyal viewport */
    width: 100vw;  /* Katssad 100% mn largeur dyal viewport */
    background-image: url('IMAGE/1.jpg'); 
    background-size: cover;  /* Bach tchad l'image kamla f background */
    background-position: center; /* Tpositioni l'image f center */
    background-attachment: fixed; /* Katb9a image statique m3a scroll */
}

  .timer-card {
    max-width: 500px;
    margin: 80px auto;
    background: rgba(252, 247, 247, 0.221);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    backdrop-filter: blur(10px);
  }

  .btn{
    font-size: 18px;
    padding: 15px;
    background-color:transparent;
    color:#fff;border-radius: 20px; 
    border: none;
  }

  .btn:hover {
    font-size: 18px;
    background-color: #f8f7f7;
    color: #E2B8B8;

  }

  #time {
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    font-weight: 600;
  }
  
  #btn-start,
  #btn-pause {
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #ffffff;
  }
  #btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 2em;
  }
  .hide {

    display: none;
  }
  .show {
    display: block;
  }
  .btn-container {
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
  }
  .time-btn-container {
    display: flex;
    flex-direction: column;
  
  }
  .time-btn-container .btn-container .btn-pause,.btn-reset {
    display: grid;
    flex-direction: column;
  
  }
  #taskList {
    margin: 20px auto;
    max-width: 800px;
}

.task-item {
    background-color: #fcfafa;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}